<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--<add key="connString_DATA_MART" value="Data Source=9AMHSADCSQL108;Initial Catalog=DATA_MART_US;Integrated Security=SSPI;"></add>-->
        <add key="connString_DATA_MART" value="Data Source=9AMHSADCSQL106;Initial Catalog=DATA_MART_US;Integrated Security=SSPI;"/>
        <!--<add key="connString_DATA_MART" value="Data Source=9AMHSADCSQL106\SQL106$QUAL;Initial Catalog=DATA_MART_US;User ID=adcqad;Password=Boc456"></add>-->
        <add key="SRC_PROCEDURE" value="RMD_LLR"/>
        <add key="cmd_TimeOut" value="120"/>
        <add key="EXCEL_PROVIDER" value="Microsoft.ACE.OLEDB.12.0;Extended properties=Excel 5.0"/>
        <add key="ACCESS_PROVIDER" value="Microsoft.ACE.OLEDB.12.0"/>
        <add key="ACCESS_USERID" value="Admin"/>
        <add key="ACCESS_PWD" value="Auditing"/>
        <add key="ACCESS_MODE" value=""/>
        <add key="ACCESS_TABLE_QUERY" value="SELECT * FROM PARAMETER"/>
        <add key="ACCESS_PARAMETER_TABLE" value="PARAMETER"/>
        <!--LLR_REPORT2 SQL DEFINE-->
        <add key="1-1-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='2-LOAN' And RMD.RISK_RATING&gt;='1' And RMD.RISK_RATING&lt;='4'"/>
        <add key="1-1-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '1-1-LOANS OUTSTANDING(RR1-4)'"/>
        <add key="1-2-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='3-SYNDICATION' And RMD.RISK_RATING&gt;='1' And RMD.RISK_RATING&lt;='4'"/>
        <add key="1-2-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '1-2-SYNDICATION LOANS OUTSTANDING(RR1-4)'"/>
        <add key="1-3-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='DISCOUNTLC'"/>
        <add key="1-3-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '1-3-DISCOUNT EXPORT L/C'"/>
        <add key="1-4-SELECT" value="SELECT SUM(LLR_REPORT2.[COMPANY]_BAL) AS BAL,SUM(LLR_REPORT2.[COMPANY]_RESERVE) AS RESERVE FROM LLR_REPORT2 WHERE REPORT_DESC IN('1-1-LOANS OUTSTANDING(RR1-4)','1-2-SYNDICATION LOANS OUTSTANDING(RR1-4)','1-3-DISCOUNT EXPORT L/C')"/>
        <add key="1-4-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '1-4-SUBTOTAL (GENERAL RESERVE RR1-4)'"/>
        <add key="1-5-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT IN ('2-LOAN','3-SYNDICATION' ) And RMD.RISK_RATING='5'"/>
        <add key="1-5-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '1-5-GRADE 5 - SPECIAL MENTIONED'"/>
        <add key="1-6-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT IN ('2-LOAN','3-SYNDICATION' ) And RMD.RISK_RATING='6'"/>
        <add key="1-6-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '1-6-GRADE 6 - SUBSTANDARD'"/>
        <add key="1-7-SELECT" value="SELECT SUM(LLR_REPORT2.[COMPANY]_BAL) AS BAL,SUM(LLR_REPORT2.[COMPANY]_RESERVE) AS RESERVE FROM LLR_REPORT2 WHERE REPORT_DESC IN('1-4-SUBTOTAL (GENERAL RESERVE RR1-4)','1-5-GRADE 5 - SPECIAL MENTIONED','1-6-GRADE 6 - SUBSTANDARD')"/>
        <add key="1-7-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '1-7-SUBTOTAL FOR GENERAL RESERVE'"/>
        <add key="2-1-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='4-SBLC' And RMD.RISK_RATING&gt;='1' And RMD.RISK_RATING&lt;='4'"/>
        <add key="2-1-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-1-SBLC'"/>
        <add key="2-2-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='6-ACCEPTANCE' And RMD.RISK_RATING&gt;='1' And RMD.RISK_RATING&lt;='4'"/>
        <add key="2-2-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-2-ACCEPTANCE &amp; T/R DOC RELEASE'"/>
        <add key="2-3-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='5-LC' And RMD.RISK_RATING&gt;='1' And RMD.RISK_RATING&lt;='4'"/>
        <add key="2-3-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-3-TOTAL IMPORT L/C'"/>
        <add key="2-4-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='CONFIRMLC'"/>
        <add key="2-4-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-4-CONFIRM  L/C'"/>
        <add key="2-5-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='1-LIMIT' And RMD.RISK_RATING&gt;='1' And RMD.RISK_RATING&lt;='4'"/>
        <add key="2-5-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-5-UNUSED COMMITMENT (RR1-4)'"/>
        <add key="2-6-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='CALL LOAN'"/>
        <add key="2-6-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-6-CALL LOAN &amp; FED FUNDS O/N'"/>
        <add key="2-7-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='FX'"/>
        <add key="2-7-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-7-FOREIGN EXCHANGE'"/>
        <add key="2-8-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='DERIVATIVES'"/>
        <add key="2-8-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-8-DERIVATIVES'"/>
        <add key="2-9-SELECT" value="SELECT SUM(LLR_REPORT2.[COMPANY]_BAL) AS BAL,SUM(LLR_REPORT2.[COMPANY]_RESERVE) AS RESERVE FROM LLR_REPORT2 WHERE REPORT_DESC IN('2-1-SBLC','2-2-ACCEPTANCE &amp; T/R DOC RELEASE','2-3-TOTAL IMPORT L/C','2-4-CONFIRM  L/C','2-5-UNUSED COMMITMENT (RR1-4)','2-6-CALL LOAN &amp; FED FUNDS O/N','2-7-FOREIGN EXCHANGE','2-8-DERIVATIVES')"/>
        <add key="2-9-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-9-SUBTOTAL (OTHER RESERVE RR1-4)'"/>
        <add key="2-10-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='4-SBLC' And RMD.RISK_RATING='5'"/>
        <add key="2-10-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-10-GRADE 5 - SPECIAL MENTIONED (SBLC)'"/>
        <add key="2-11-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='1-LIMIT' And RMD.RISK_RATING='5'"/>
        <add key="2-11-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-11-GRADE 5 - UNUSED COMMITMENT'"/>
        <add key="2-12-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='4-SBLC' And RMD.RISK_RATING='6'"/>
        <add key="2-12-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-12-GRADE 6 - SUBSTANDARD (SBLC)'"/>
        <add key="2-13-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='1-LIMIT' And RMD.RISK_RATING='6'"/>
        <add key="2-13-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-13-GRADE 6 - UNUSED COMMITMENT'"/>
        <add key="2-14-SELECT" value="SELECT SUM(LLR_REPORT2.[COMPANY]_BAL) AS BAL,SUM(LLR_REPORT2.[COMPANY]_RESERVE) AS RESERVE FROM LLR_REPORT2 WHERE REPORT_DESC IN('2-9-SUBTOTAL (OTHER RESERVE RR1-4)','2-10-GRADE 5 - SPECIAL MENTIONED (SBLC)','2-11-GRADE 5 - UNUSED COMMITMENT','2-12-GRADE 6 - SUBSTANDARD (SBLC)','2-13-GRADE 6 - UNUSED COMMITMENT')"/>
        <add key="2-14-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '2-14-SUBTOTAL FOR OTHER RESERVE'"/>
        <add key="3-1-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.RISK_RATING='7'"/>
        <add key="3-1-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '3-1-GRADE 7 - DOUBTFUL'"/>
        <add key="3-2-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.RISK_RATING='8'"/>
        <add key="3-2-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '3-2-GRADE 8 - LOSS'"/>
        <add key="3-3-SELECT" value="SELECT SUM(LLR_REPORT2.[COMPANY]_BAL) AS BAL,SUM(LLR_REPORT2.[COMPANY]_RESERVE) AS RESERVE FROM LLR_REPORT2 WHERE REPORT_DESC IN('3-1-GRADE 7 - DOUBTFUL','3-2-GRADE 8 - LOSS')"/>
        <add key="3-3-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '3-3-SUBTOTAL FOR SPECIFIC RESERVE'"/>
        <add key="4-1-SELECT" value="SELECT SUM(RMD.DEAL_LOCAL_BAL) AS BAL,SUM(RMD.RESERVE) AS RESERVE FROM RMD WHERE RMD.COMPANY='[COMPANY]' And RMD.LLR_PRODUCT='UNALLOCATED'"/>
        <add key="4-1-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '4-1-UNALLOCATED RESERVE FOR UNCERTAINTY'"/>
        <add key="5-SELECT" value="SELECT SUM(LLR_REPORT2.[COMPANY]_BAL) AS BAL,SUM(LLR_REPORT2.[COMPANY]_RESERVE) AS RESERVE FROM LLR_REPORT2 WHERE REPORT_DESC IN('1-7-SUBTOTAL FOR GENERAL RESERVE','2-14-SUBTOTAL FOR OTHER RESERVE','3-3-SUBTOTAL FOR SPECIFIC RESERVE')"/>
        <add key="5-UPDATE" value="UPDATE LLR_REPORT2 SET BNK_BAL = [BNK_BAL],BNK_RESERVE=[BNK_RESERVE],NIB_BAL=[NIB_BAL],NIB_RESERVE=[NIB_RESERVE],CTB_BAL=[CTB_BAL],CTB_RESERVE=[CTB_RESERVE],LAB_BAL=[LAB_BAL],LAB_RESERVE=[LAB_RESERVE],LIB_BAL=[LIB_BAL],LIB_RESERVE=[LIB_RESERVE],CHI_BAL=[CHI_BAL],CHI_RESERVE=[CHI_RESERVE],CIB_BAL=[CIB_BAL],CIB_RESERVE=[CIB_RESERVE],TOTAL_BAL=[TOTAL_BAL],TOTAL_RESERVE=[TOTAL_RESERVE] WHERE LLR_REPORT2.REPORT_DESC = '5-TOTAL'"/>
    </appSettings>
</configuration>